<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> +91 7350678301</div>
					<div class="socials">
						<a href="https://www.instagram.com/radhesham_rd?igsh=ZHZ0NGV4M3g2cXZy" class="fa fa-instagram"></a>
						<a href="https://github.com/Radhesham7507" class="fa fa-github"></a>
						<a href="https://www.linkedin.com/in/radhesham-dhadve-169727233/" class="fa fa-linkedin"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Tour<span class="color1">T</span>axi </div>
						&copy; 2024	| <a href="#" >Privacy Policy</a> </div> Website designed by <a href="https://www.linkedin.com/in/radhesham-dhadve-169727233/" rel="nofollow">Radhesham Dhadve</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>